.home-page{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    height:88vh;
    background-color: white;
    background-color: var(--lightpurple);
}
.home-content{
    width: 55%;
    margin-top: 5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.home-title{
    font-size: 4rem;
    color: var(--secondary);
    text-shadow: 2px 2px 2px #000000;
    color: white;
}
.home-subtitle{
    font-size: 5rem; 
    color: white;
    font-weight:bold;
    text-shadow: 2px 2px 2px #000000;   
}
.home-img{
    position: absolute;
    top: 0;
    right: 0;
   width: 35%;
}
.home-btn{
    margin-top: 2rem;
    cursor: pointer;
}