
.question-container{
    padding: 1rem 2rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #D5E5E4;
    position: relative;
}
.question-change{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}
.question-content{
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
}
.quiz-submission{
    display: flex;
    justify-content: flex-end;
}

.next-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.question-footer{ 
    position: absolute;
    bottom: 2rem;
}

.question-footer-btn{
    position: relative;
    width: 120vh;
}
.quiz-flag{
    position: absolute;
    top: -2rem;
    left: 0;
}
.quiz-submission{
    position: absolute;
    top: -2rem;
    right: 0;
}

